.AboutBlock_title {
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 30px;
  font-size: 40px;
  font-weight: 600;
  text-align: left;
  max-width: 1240px;
}
.card_container {
  //   margin-left: 323px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  gap: 20px;
}
// .InfoBlock1 {
//   border-radius: 16px;
//   margin: 15px;
//   display: flex;
//   flex-direction: column;
// }